@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f1f1f1;
}

body {
  background-color: var(--background-color);
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 12px;
  line-height: 1.25rem;
  overflow-y: auto;
  width: calc(100vw - 15px);
}

.custom-article p {
  @apply px-5;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .custom-article p {
    @apply px-0;
  }
}
