@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f1f1f1;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 14px;
  line-height: 24.5px;
  overflow-y: scroll;
  width: calc(100vw - 15px);
}
